:root {
  --branding-color: #ff6666;
  --secondary-color: #f7efee;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 30px;
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline;
  margin: 40px;
}

nav {
  padding: 30px;
  margin: 0 40px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
  display: inline;
  line-height: 42px;
  margin: 15px;
  font-size: 16px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer {
  margin: 50px 0;
}

footer li {
  font-size: 25px;
  margin: 0;
  padding: 50px 10px;
}

footer .email {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  padding-left: 20px;
}

footer .social-icons {
  color: var(--branding-color);
  padding: 0;
}

footer .open-source {
  opacity: 90%;
}

footer p a {
  color: var(--branding-color);
  opacity: 100%;
  text-decoration: none;
}

footer p a:hover {
  color: var(--branding-color);
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 140px 20px 250px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: #272142;
}

.logo {
  max-height: 30px;
}

.btn-branding {
  background-color: var(--branding-color);
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
  padding: 18px 39px;
  line-height: 27px;
}

.btn-branding:hover {
  color: #fff;
  opacity: 90%;
}

.recent {
  font-size: 18px;
}

.background {
  background: var(--secondary-color);
  padding: 75px 0;
}

.project-description {
  padding: 50px 30px;
}

.project-description h2 {
  margin-bottom: 25px;
  font-size: 64px;
}

.project-description p {
  font-size: 16px;
  margin-bottom: 50px;
  opacity: 90%;
}

.tea-spacing {
  padding: 75px;
}

.headshot {
  padding-left: 100px;
}

.content-container {
  padding: 140px 20px;
}

.content h1 {
  font-size: 64px;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
}

.content p {
  opacity: 90%;
}

.skills-background {
  padding: 50px 0;
  background: var(--secondary-color);
}

.logo-container img {
  padding: 20px;
  margin-left: 100px;
}

.work {
  font-size: 50px;
  text-align: left;
  padding: 100px 0;
}

.project-grid {
  margin-bottom: 100px;
  text-align: center;
}

.project-grid img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  margin: 30px 0;
}

.project-grid img:hover {
  opacity: 90%;
}

.project-grid h3 {
  font-family: var(--default-font-family);
  font-size: 30px;
  font-weight: medium;
}

.project-grid p {
  opacity: 90%;
}

.projects {
  margin: 50px 0;
}

.projects img {
  display: block;
  margin: auto;
  max-width: 75%;
}

.projects p,
.projects h3,
.tea-project p,
.tea-project h3 {
  text-align: center;
}

.projects p,
.tea-project p {
  margin: 25px 100px 50px;
}

.tea-project {
  margin: 100px 0;
}

.tea-project img {
  display: block;
  margin: auto;
  max-width: 60%;
}

.projects a,
.tea-project a {
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 240px;
}

.mailbox-image {
  display: block;
  margin: 10px auto;
}

.contact {
  font-size: 40px;
  margin: 50px 0 100px;
}

.contact-email {
  font-size: 32px;
  font-family: var(--default-font-family);
  text-align: center;
  margin-top: 90px;
}

.contact-email a {
  color: #000;
  text-decoration: none;
  display: block;
  margin: 10px 0 30px;
}

.contact-icons {
  margin-top: 60px;
  font-size: 60px;
  color: var(--branding-color);
}

.contact-icons:hover {
  color: var(--branding-color);
  opacity: 90%;
}

@media (max-width: 960px) {
  nav {
    padding: 20px 0;
  }

  nav li {
    margin: 5px;
  }

  nav a {
    font-size: 12px;
  }

  .hero {
    padding: 80px 5px;
  }

  .hero h1 {
    font-size: 80px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero p {
    font-size: 30px;
  }

  .logo {
    max-height: 20px;
  }

  .recent {
    margin: 30px 0 0;
    padding-bottom: 0;
  }

  .project-description {
    text-align: center;
  }

  .project-description h2 {
    font-size: 30px;
  }

  .sm-spacing {
    margin: -100px;
    padding: -100px;
  }

  .tea-spacing {
    padding: 0 0 50px;
    margin-bottom: -70px;
  }

  .background {
    margin: 0;
    padding: 0;
  }

  .content {
    text-align: center;
    margin-bottom: 50px;
    padding: 0;
  }

  .content h1 {
    font-size: 55px;
  }

  .headshot {
    padding-left: 0;
  }

  .content-container {
    padding: 50px;
  }

  .certificate-image {
    margin-bottom: 30px;
    padding: 0;
  }

  .logo-container img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }

  .project-grid img {
    object-fit: scale-down;
    width: auto;
    height: auto;
  }

  .work {
    font-size: 40px;
  }

  .project-grid h3 {
    font-size: 30px;
    font-weight: medium;
  }

  .projects p,
  .tea-project p {
    margin: 20px 0;
  }

  .tea-project {
    margin: 50px 0;
  }
}
